---
layout: default
layout-type: container
custom-stylesheet: 
transition: 
---

<div class="heading">
  <div class="row">
    <div class="col-md-4 text-center text-md-left">
      <img class="profile-picture rounded" src="{{ site.baseurl }}/assets/img/profile-picture.webp" alt="" />
    </div>
    <div class="col-md-8 align-self-center text-center text-md-left">
      <h1 class="h2">{{ site.data.personal-information.name }}</h1>
      <p class="h4 font-weight-normal">{{ site.data.personal-information.title }}</p>
      <ul class="list-unstyled list-columns two-columns" id="details-section">
        <li>
          <a href="tel:{{ site.data.personal-information.mobile-number-1 }}"><i class="fas fa-mobile-alt"></i>{{ site.data.personal-information.mobile-number-1 }}</a>
        </li>
        <li>
          <a href="mailto:{{ site.data.personal-information.email-address }}"><i class="far fa-envelope"></i>{{ site.data.personal-information.email-address }}</a>
        </li>
        <li><i class="far fa-compass"></i>{{ site.data.personal-information.home-address }}</li>
        <li><i class="fas fa-link"></i><a href="{{ site.data.personal-information.website }}">{{ site.data.personal-information.website }}</a></li>
      </ul>
      <button class="btn btn-primary d-print-none mt-5" type="button" onclick="window.print();return false">Download my Resume</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4">
    <h3 class="h4">About</h3>
    <p>{{ site.data.personal-information.summary }}</p>

    <h3 class="h4">Skills</h3>
    <ul class="list-inline">
      {% for skills in site.data.personal-information.skills %}
        <li class="list-inline-item">{{ skills }}</li>
      {% endfor %}
    </ul>

    <h3 class="h4">Tools</h3>

    <p><b>Design</b></p>
    <ul class="list-inline">
      {% for tools in site.data.personal-information.tools %}
        {% for design-tools in tools.design %}
          <li class="list-inline-item">{{ design-tools }}</li>
        {% endfor %}
      {% endfor %}
    </ul>

    <p><b>Collaboration</b></p>
    <ul class="list-inline">
      {% for tools in site.data.personal-information.tools %}
        {% for collaboration-tools in tools.collaboration %}
          <li class="list-inline-item">{{ collaboration-tools }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    
    <p><b>Programming</b></p>
    <ul class="list-inline">
      {% for tools in site.data.personal-information.tools %}
        {% for development-tools in tools.development %}
          <li class="list-inline-item">{{ development-tools }}</li>
        {% endfor %}
      {% endfor %}
    </ul>


    <br class="d-none d-print-block">
    <br class="d-none d-print-block">
    <br class="d-none d-print-block">
    <br class="d-none d-print-block">
    <br class="d-none d-print-block">
    <br class="d-none d-print-block">

    <h3 class="h4">Trainings/Seminars</h3>
    <ul class="list-unstyled" id="reference-section">
      {% for workshop in site.data.resume.trainings-and-seminars %}
        <li>
          <b>{{ workshop.title }}</b>, {{ workshop.organizer }}<br/>
          {{ workshop.location }}<br/>
          {{ workshop.date }}
        </li>
      {% endfor %}
    </ul>

    <!-- <h3 class="h4"><b>Awards &amp; Recognition</b></h3>
    <ul class="list-unstyled" id="reference-section">
      {% for award in site.data.resume.awards-and-recognition %}
        <li>
          <b>{{ award.name }}</b><br/>
          {{ award.description }}<br/>
          {{ award.institution }}<br/>
          {{ award.date }}
        </li>
      {% endfor %}
    </ul> -->
  
    <!-- <h3 class="h4"><b>Reference</b></h3>
    <ul class="list-unstyled" id="reference-section">
      {% for reference in site.data.resume.references %}
        <li>
          <b>{{ reference.name }}</b>, {{ reference.position }}<br>
          {{ reference.company }}<br>
          {{ reference.department }}<br>
          {% if reference.mobile %}
            <a href="tel:{{ reference.mobile }}">{{ reference.mobile }}</a><br>
          {% endif %}
          {% if reference.email %}
            <a href="mailto:{{ reference.email }}">{{ reference.email }}</a>
          {% endif %}
          {% if reference.linkedin %}
            <a href="{{ reference.linkedin }}">View on LinkedIn</a><br>
          {% endif %}
        </li>
      {% endfor %}
    </ul> -->

  </div>

  <div class="col-12 col-md-8">

    <h2 class="h3">Professional Experience</h2>
    {% for task in site.data.resume.professional-experience %}
    <div class="row">
      <div class="col">
        <span><b>{{ task.name }}</b></span><br/>
        {% if task.descriptions %}
          <ul class="small pl-3">
            {% for desciption in task.descriptions %}
            <li>{{ desciption }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <h2 class="h3">Work Experiences</h2>
    {% for work in site.data.resume.employment-history %}
      <p>
        <b>{{ work.position }}</b> <br>
        <span>{{ work.company }} - {{ work.location }}</span> <br>
        <i class="text-muted">{{ work.start-date | date: "%B %d, %Y" }} to {% if work.end-date %}{{ work.end-date | date: "%B %d, %Y" }}{% else %}Present{% endif %}</i>
      </p>
      <!-- {% if work.descriptions %}
        <ul class="small">
          {% for desciption in work.descriptions %}
          <li>{{ desciption }}</li>
          {% endfor %}
        </ul>
      {% endif %} -->
    {% endfor %}

    <h3><b>Education</b></h3>
    {% for education in site.data.resume.educations %}
      <div class="row">
        <div class="col-md-3">
          {{ education.level }}<br/>
          {{ education.start-date }} {% if education.start-date %}-{% endif %} {{ education.end-date }}
        </div>
        <div class="col-md-9">
          <p>
            <span><b>{{ education.degree }}</b></span> <br/>
            {{ education.institution }}<br/>
            <i>{{ education.location }}</i>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="d-none d-print-block mt-0">
  <div class="col-md-8 offset-md-4">
    <p>I hereby certify that all information stated herewith are true and correct to the best of my knowledge and beliefs.</p>
    <div class="row">
      <div class="col-md-8 offset-md-4">
        <p>
          <b>{{ site.data.personal-information.name | upcase }}</b><br/>
          <span>{{ site.data.personal-information.title }}</span><br/>
        </p>
        <p>
          <b>M</b>: {{ site.data.personal-information.mobile-number-1 }} | {{ site.data.personal-information.mobile-number-2 }}<br/>
          <b>E</b>: {{ site.data.personal-information.email-address }}<br/>
          <b>S</b>: <a href="{{ site.data.personal-information.skype }}">jasperlepardo</a>
        </p>
        <a href="{{ site.data.personal-information.website }}">{{ site.data.personal-information.website }}</a>
      </div>
    </div>
  </div>
</div>
