---
layout: default
layout-type: #container | container-fluid
custom-stylesheet: 
---

<div class="row">

    <div class="col-xl-6">

        <img class="img-fluid" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ page.title | downcase | replace: ' ','-' }}.png" alt="" />

    </div>

    <div class="col-xl-6">

        <div class="heading">
            <p>{{ page.type }}</p>
            <ul class="list-inline">
                {% for tag in page.tags %}
                    <li class="list-inline-item"><span class="badge badge-primary">{{ tag }}</span></li>
                {% endfor %}
            </ul>
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
            
            {% if page.live-site %}
            <a class="btn btn-primary" target="_blank" href="{{ page.live-site }}">View in Figma</a>
            {% endif %}

        </div>
        
    </div>
</div>




{{ content }}



