---
layout: default
layout-type: #container | container-fluid
custom-stylesheet: 
---


<div class="heading">
    <h1>{{ page.name }}</h1>
    <p class="lead">{{ page.description }}</p>

    <!-- <p>{{ page.type }}</p>
    <ul class="list-inline">
        {% for tag in page.tags %}
            <li class="list-inline-item"><span class="badge badge-primary">{{ tag }}</span></li>
        {% endfor %}
    </ul> -->
    
    {% if page.live-site %}
        <a class="btn btn-primary" target="_blank" href="{{ page.live-site }}">View in Live Site</a>
    {% endif %}

    {% if page.figma %}
        <a class="btn btn-primary" target="_blank" href="{{ page.figma }}">View in Figma</a>
    {% endif %}

</div>

<img class="img-fluid" loading="lazy" src="{{ site.baseurl }}/assets/img/{{ page.title | downcase | replace: ' ','-' }}.png" alt="" />

{{ content }}



